* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
    background-color: hsl(0, 0%, 12%);
    width: 327px;
    border-radius: 12px;
    padding: 24px;
    position: relative
}

img {
  border-radius: 50%;
  width: 88px;
  aspect-ratio: 1;
  margin: 0 auto 28px;
  display: block;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 9px;
}

h2 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: hsl(75, 94%, 57%);
  margin-bottom: 28px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 26px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: inherit;
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 14px;
  border-radius: 8px;
}

nav a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.attribution {
  position: absolute;
  bottom: 25px;
  font-size: 11px;
  text-align: center;
  opacity: .4;
}
.attribution a {
  color: hsl(75, 94%, 57%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 400px) {

  main {
    width: 384px;
    border-radius: 12px;
    padding: 40px;
  }

}