* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
}

header {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title {
  height: 50px;
}

main {
  max-width: 1200px;
  height: 100%;
  padding: 0 3rem 3rem;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
}

.project-card {
  min-width: 300px;
  max-width: 344px;
  border: 1px solid rgb(219, 229, 230);
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

#project-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.preview {
  position: relative;
  overflow: hidden;
}

.preview img {
  /* height: 220px; */
  width: 100%;
  object-fit: cover;
  transition: transform 300ms ease 0ms;
}

.preview img:hover {
  transform: scale(1.05);
}

.preview::after {
  content: "";
  position: absolute;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  width: 100%;
  height: 6rem;
  z-index: 1;
}

.info {
  padding: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h2 > a {
  color: rgb(28, 32, 34);
}

h2 > a:hover {
  text-decoration: underline;
}

.skills {
  display: flex;
  justify-content: flex-start;
  gap: 0.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.html {
  color: rgb(106, 190, 205);
}
.css {
  color: rgb(62, 84, 163);
}
.js {
  color: rgb(207, 99, 144);
}
.api {
  color: rgb(170, 215, 66);
}

.difficulty {
  font-size: 0.8rem;
  margin-left: auto;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty span {
  text-align: center;
  padding: 2px 8px 2px 7px;
  background-color: black;
  color: black;
  border: 1px solid black;
}

.difficulty .newbie {
  background-color: rgb(106, 190, 205);
  color: rgb(106, 190, 205);
  border-color: rgb(106, 190, 205);
}

.difficulty .junior {
  background-color: rgb(170, 215, 66);
  color: rgb(170, 215, 66);
  border-color: rgb(170, 215, 66);
}

.difficulty .intermediate {
  background-color: rgb(241, 182, 4);
  color: rgb(241, 182, 4);
  border-color: rgb(241, 182, 4);
}

.difficulty .advanced {
  background-color: rgb(244, 137, 37);
  color: rgb(244, 137, 37);
  border-color: rgb(244, 137, 37);
}

.difficulty .guru {
  background-color: rgb(237, 44, 73);
  color: rgb(237, 44, 73);
  border-color: rgb(237, 44, 73);
}

.difficulty span:nth-child(1) {
  color: white;
  border-radius: 0.2rem 0 0 0.2rem;
}
.difficulty span:nth-child(2) {
  background-color: white;
  border-left: 0;
  border-radius: 0 0.2rem 0.2rem 0;
}

.description {
  color: rgb(115, 115, 115);
  font-size: 1rem;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
